.Menu-item,
.Menu-link,
.SvgIcon,
body {
    position: relative
}

*,
.p5213,
.p5213 a {
    box-sizing: border-box
}

.Body a:hover,
a {
    color: #b88b58
}

.Menu-item,
.Menu-link {
    transition: color .15s ease-out 0s
}

.Menu-link,
.p5213 a,
a,
a.button {
    text-decoration: none
}

b,
body,
div,
figcaption,
figure,
footer,
h1,
h3,
header,
html,
img,
nav,
p,
span,
strong {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

body {
    line-height: 1;
    background-color: #f2f2f2
}

.c15 {
    margin-bottom: 25px
}

.Body:last-child>:last-child,
.c15 .c3 p {
    margin-bottom: 0
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6
}

.c15 .c3 p {
    padding: 5px 10px
}

caption,
td,
th {
    text-align: left;
    font-weight: 400;
    vertical-align: middle
}

figcaption,
figure,
footer,
header,
nav {
    display: block
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline
}

img {
    max-width: 100%
}

.Body {
    font-size: 18px;
    line-height: 22px
}

@media only screen and (min-width:48em) {
    .Body {
        font-size: 20px;
        line-height: 27px
    }
}

.Body>* {
    max-width: 980px;
    font-family: PFRegal, Georgia, serif
}

.Body h3,
.Footer,
.HeaderButton-link,
.MaterialMeta,
.MaterialTag,
.MediaMaterialHeader-first,
.MediaMaterialHeader-separator,
.Menu {
    font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif
}

.Body p {
    margin-bottom: 15px
}

.Body p:empty {
    display: none
}

.Body h3 {
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: 700
}

.HeaderButton-link,
.Menu {
    font-weight: 600;
    text-transform: uppercase
}

.SvgIcon {
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.Header,
.MeduzaLogo {
    position: relative;
    z-index: 2
}

.App-content,
button {
    overflow: visible
}

.SvgIcon--meduzaLogo {
    margin-top: -2px;
    height: 45px;
    width: 100px
}

.Menu {
    display: none;
    color: #fff
}

@media only screen and (min-width:64em) {
    .Menu {
        font-size: 13px;
        height: 45px;
        width: 100%;
        letter-spacing: 1px;
        background-color: #262626;
        display: flex;
        justify-content: center
    }
}

.Menu-item {
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center
}

@media only screen and (min-width:64em) {

    .Header,
    .Menu-item {
        padding: 0 15px
    }

    .Menu-item {
        border-bottom: 0 none
    }

    .Menu-item:last-of-type {
        border-right: medium none
    }

    .Menu-item:hover {
        color: #999;
        background-color: inherit
    }
}

.Menu-link {
    color: #fff;
    line-height: 45px;
    top: 1px
}

.Menu-item:hover .Menu-link {
    color: #999
}

.MeduzaLogo {
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: contain
}

.Header {
    height: 45px;
    background-color: #262626;
    display: flex;
    flex-flow: row nowrap
}

@media only screen and (max-width:63.9375em) {
    .Header .HeaderButton--chat {
        display: none
    }
}

.Header-left {
    display: flex;
    flex-basis: 16%;
    flex-grow: 1;
    height: 100%
}

.Header-center {
    height: 100%;
    display: none
}

@media only screen and (min-width:64em) {
    .Header-center {
        display: flex;
        justify-content: center;
        flex-grow: 2
    }
}

.Header-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    flex-basis: 16%;
    flex-grow: 1
}

.Header-meduzaLogo {
    display: flex;
    height: 45px;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0
}

@media only screen and (min-width:64em) {
    .Header-meduzaLogo {
        position: static
    }
}

.HeaderButton {
    position: relative;
    display: flex;
    min-width: 45px;
    height: 100%;
    padding: 0 15px;
    -moz-user-select: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    fill: currentcolor;
    border: 0;
    background: 0 0;
    margin: 0;
    cursor: pointer
}

.HeaderButton:active {
    outline-width: 0
}

.HeaderButton:hover {
    color: #999
}

.HeaderButton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #676767
}

@media only screen and (min-width:64em) {
    .HeaderButton::after {
        top: 10px;
        bottom: 10px
    }
}

.HeaderButton-link {
    display: block;
    padding-top: 2px;
    color: inherit;
    cursor: pointer
}

.HeaderButton-link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ""
}

.HeaderButton--chat {
    font-size: 13px;
    letter-spacing: .05em
}

.Copyright {
    padding: 0 12px;
    line-height: 1.2
}

@media only screen and (min-width:64em) {
    .Copyright {
        padding: 0
    }
}

.Copyright-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 13px 0 12px
}

.MaterialMeta,
.MaterialTag {
    display: inline-block
}

.Copyright-container a:hover {
    color: rgba(255, 255, 255, .5)
}

@media only screen and (min-width:48em) {
    .Copyright-container {
        max-width: 675px;
        padding: 10px 0 18px;
        border-top: 1px solid #505050;
        flex-wrap: nowrap;
        text-align: left
    }
}

@media only screen and (min-width:64em) {
    .Copyright-container {
        max-width: 860px
    }
}

.Copyright-container a {
    color: #fff
}

.Copyright-block {
    padding-top: 13px;
    font-size: 17px;
    flex: 1 0 20%
}

@media only screen and (min-width:48em) {
    .Copyright-block {
        padding-top: 0;
        border-top: 0 none
    }
}

.Copyright-block:last-child {
    text-align: right
}

.MaterialTag {
    position: relative;
    z-index: 30;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    color: #b88b58;
    -moz-user-select: none
}

@media only screen and (max-width:32em) {
    .MaterialTag {
        height: 15px;
        line-height: 15px;
        padding: 0 5px;
        font-size: 10px;
        letter-spacing: .5px
    }
}

span.MaterialTag {
    cursor: default;
    pointer-events: none
}

.eeee,
.r6934,
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer
}

@media only screen and (min-width:32em) {
    .MaterialTag--medium {
        height: 20px;
        line-height: 20px;
        padding: 0 7px;
        letter-spacing: 1px;
        font-size: 12px
    }
}

.MaterialTag--solid {
    color: #fff;
    background: #b88b58;
    border-color: #b88b58;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}

.MaterialMeta {
    font-size: 20px;
    line-height: 24px;
    color: grey;
    margin-right: 12px;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px auto;
    font-weight: 400
}

@media only screen and (min-width:48em) {
    .MaterialMeta {
        font-size: 20px;
        line-height: 24px;
        margin-right: 15px
    }

    .MaterialMeta--source {
        white-space: nowrap
    }
}

.MaterialMeta--time {
    background-size: 12px 12px
}

.MediaMaterialHeader {
    max-width: 840px
}

.MediaMaterialHeader-first {
    color: #000;
    line-height: 27px
}

.MediaMaterialHeader-first,
.MediaMaterialHeader-separator {
    transition: color .25s ease-out 0s;
    font-size: 24px;
    font-weight: 700
}

.App,
.App-content,
.App-footer {
    transition: transform .25s ease-out 0s, -webkit-transform .25s ease-out 0s, -o-transform .25s ease-out 0s
}

.MediaMaterial {
    background-color: #fff;
    padding: 12px
}

.MediaMaterial-header {
    display: flex;
    flex-flow: column wrap;
    max-width: 650px;
    margin: 0 auto 18px;
    align-items: flex-start
}

@media only screen and (min-width:63.125em) {
    .MediaMaterial-header {
        max-width: 1000px;
        margin-bottom: 25px
    }
}

.MediaMaterial-tag {
    margin-bottom: 5px
}

.MediaMaterial-meta {
    margin-top: 12px
}

@media only screen and (min-width:48em) {
    .MediaMaterialHeader-first {
        line-height: 38px
    }

    .MediaMaterialHeader-first,
    .MediaMaterialHeader-separator {
        font-size: 36px
    }

    .MediaMaterial {
        padding: 25px 15px 20px
    }

    .MediaMaterial-tag {
        margin-bottom: 11px
    }

    .MediaMaterial-meta {
        margin-top: 12px
    }

    .MediaMaterial--fullWidth .MediaMaterial-header {
        align-items: center;
        text-align: center
    }
}

.MediaMaterial-materialContent {
    width: 100%;
    max-width: 650px
}

.MediaMaterial-body {
    position: relative;
    max-width: 650px;
    margin: 0 auto
}

@media only screen and (min-width:63.125em) {
    .MediaMaterial-body {
        max-width: 1000px
    }
}

.MediaMaterial--fullWidth .MediaMaterial-materialContent {
    max-width: none
}

.Material {
    padding: 12px 0 0
}

.Material-shadow {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, .15)
}

.App-content,
.App-footer {
    z-index: 1;
    position: relative
}

.Material-shadow--top {
    top: 0
}

.Material-container {
    background: #fff;
    position: relative
}

@media only screen and (min-width:48em) {
    .Material {
        padding: 15px 0 0
    }

    .Body h3 {
        margin-top: 35px;
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 27px
    }
}

.MaterialContent--bannerless .Body>* {
    margin-right: auto;
    margin-left: auto
}

.MaterialContent .Figure {
    margin-right: -12px;
    margin-left: -12px
}

@media only screen and (min-width:40.625em) {
    .MaterialContent .Figure {
        margin-right: auto;
        margin-left: auto
    }

    .Figure img {
        border-radius: 2px
    }
}

.Figure {
    margin: 15px -12px
}

.Figure img {
    display: block;
    margin: 5px auto
}

@media only screen and (min-width:48em) {
    .Figure {
        margin: 27px auto 20px
    }
}

@media only screen and (min-width:75em) {
    .Figure {
        max-width: 650px
    }
}

.Figure img {
    max-width: 100%;
    vertical-align: bottom
}

.Figure-caption {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 7px 12px 0;
    font-size: 15px;
    line-height: 17px
}

@media only screen and (min-width:40.625em) {
    .Figure-caption {
        padding-right: 0;
        padding-left: 0;
        font-size: 16px;
        line-height: 18px
    }
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.App-content {
    background-color: #f2f2f2;
    flex: 1 0 auto
}

.App-header {
    position: relative;
    z-index: 200
}

.App--isMaterial .App-content {
    background-color: #e6e6e6
}

.Footer {
    color: #999;
    background-color: #252525
}

.logo {
    display: block;
    margin-top: 10px
}

.ava-img {
    width: 50px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle
}

.Body a {
    box-shadow: 0 -1px #b88b58 inset;
    color: #00f
}

.Body a:hover {
    box-shadow: none
}

a.button {
    font-size: 20px;
    text-align: center;
    color: #fff !important;
    background-color: red;
    display: block;
    width: 100%;
    max-width: 320px;
    border-radius: 30px;
    padding: 15px
}

a.button:hover {
    background-color: #c11f1f
}

.actsss {
    display: none !important
}

.eeee {
    background-color: rgba(0, 0, 0, .7);
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed
}

.ouimain-text-img::after {
    content: "";
    display: block;
    clear: both
}

.lucky-chat-status__text--online::before {
    background-color: #93c296
}

.lucky-chat-status__text--offline::before {
    background-color: red
}

.lucky-chat-status__text::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px
}

.lucky-chat-message__text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid
}

.lucky-chat-message__item--doctor .lucky-chat-message__name::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    right: 100%;
    margin-right: -2px;
    border-color: transparent #5fc890 transparent transparent;
    border-width: 0 14px 12px 0
}

.lucky-chat-message__item--doctor .lucky-chat-message__text::after {
    display: none
}

.lucky-chat-message__item--guest .lucky-chat-message__text::after {
    top: 0;
    left: 100%;
    margin-left: -2px;
    border-color: #c8d8e8 transparent transparent;
    border-width: 14px 12px 0 0
}

.lucky-chat-message__item--system .lucky-chat-message__text::after {
    top: 0;
    right: 100%;
    margin-right: -2px;
    border-color: transparent #d47c3c transparent transparent;
    border-width: 0 14px 12px 0
}

html {
    font-family: sans-serif
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio:not([controls]) {
    display: none;
    height: 0
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.n1543,
.y3498 p {
    overflow-wrap: break-word
}

button,
select {
    text-transform: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.sendpulse-fab.sendpulse-fab-left .sendpulse-prompt-message::after,
.sendpulse-fab.sendpulse-fab-left .sendpulse-prompt-message::before {
    left: 23px;
    right: auto
}

.sendpulse-fab .sendpulse-prompt-message::after,
.sendpulse-fab .sendpulse-prompt-message::before {
    content: "";
    position: absolute;
    bottom: -21px;
    right: 23px;
    border-style: solid;
    height: 0;
    width: 0;
    border-width: 10px;
    border-color: #ccc transparent transparent
}

.sendpulse-fab .sendpulse-prompt-message::after {
    border-top-color: #fff;
    bottom: -20px
}

.sp-webpush-label::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: blur(100px);
    background-color: rgba(0, 0, 0, .4)
}

.sp-bottom-push-label .sp-brand-link::after,
.sp-webpush-label .sp-brand-link>span::after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    margin: -10px 0 0;
    content: "";
    height: 20px
}

.sp-webpush-label.sp-linux.sp-firefox::after,
.sp-webpush-label.sp-windows.sp-firefox::after {
    max-width: 896px
}

.p5213,
.t4527 {
    position: fixed
}

.p5213 {
    font-weight: 380;
    text-align: left
}

td,
th {
    padding: 0 0 0 10px;
    font-weight: 500
}

.t4527 {
    background-color: rgba(0, 0, 0, .7);
    display: none;
    width: 100%;
    height: 100%;
    z-index: 333;
    top: 0;
    left: 0
}

.p5213 a,
.y3498 {
    display: block;
    text-align: center
}

.p5213,
.p5213 a {
    left: 50%
}

.p5213 {
    top: 5%;
    margin-left: -425px;
    padding: 20px 20px 90px;
    width: 850px;
    z-index: 3333;
    background: linear-gradient(135deg, #3c72b5 0, #7b9fcc 100%);
    border: 5px solid #ddd;
    height: auto
}

.p5213 a,
.r6934 {
    position: absolute
}

.y3498 {
    margin: 0 0 25px;
    color: #fff;
    font-size: 28px;
    line-height: 25px;
    font-weight: 700
}

.r6934 {
    width: 30px;
    height: 40px;
    right: 10px;
    top: 10px;
    line-height: 40px;
    color: #de455c;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000, 0 0 1.5rem #fff;
    opacity: .7;
    transition: all .2s ease 0s
}

.p5213 a,
.r6934:hover {
    opacity: 1
}

.i9983 {
    width: 35%;
    float: left
}

.i9983 img {
    width: 100%;
    height: auto
}

.n1543 {
    width: 60%;
    float: right;
    color: #fff;
    font-size: 24px;
    margin-top: 85px;
    margin-left: 5%;
    line-height: 1.4
}

.p5213 a {
    margin: 0 0 0 -200px;
    bottom: 20px;
    background: linear-gradient(to bottom, #de455c 0, #de455c 13%, #c01f37 76%, #c01f37 100%);
    color: #e0e2e6;
    text-transform: uppercase;
    line-height: 60px;
    text-indent: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 60px;
    font-size: 26px;
    font-weight: 900;
    border-radius: 10px;
    transition: all .8s ease 0s;
    box-shadow: 0 0 25px rgba(0, 0, 0, .8)
}

.p5213 a:hover {
    font-size: 28px;
    color: #fff !important;
    text-shadow: 1px 1px 2px #000, 0 0 1.5rem #fcf84b !important;
    text-decoration: none !important
}

.n1543 p,
.y3498 p {
    padding: 0;
    color: #fff
}

@media only screen and (max-width:866px) {
    .p5213 {
        width: 100%;
        left: 0;
        margin-left: 0
    }
}

@media only screen and (max-width:759px) {
    .y3498 {
        font-size: 26px
    }

    .n1543 {
        font-size: 18px
    }
}

@media only screen and (max-width:605px) {
    .i9983 {
        float: none;
        margin: auto
    }

    .n1543 {
        float: none;
        width: 100%;
        margin: 20px 0 0
    }

    .b4571 {
        width: 250px;
        margin-left: -135px;
        font-size: 18px
    }

    .y3498 {
        font-size: 24px
    }

    .r6934 {
        right: 0
    }
}

@media only screen and (max-width:450px) {
    .b4571 {
        width: 95% !important;
        left: 0 !important;
        display: block !important;
        margin-left: 2.5% !important;
        font-size: 22px !important
    }

    .n1543 b,
    .n1543 p,
    .n1543 span {
        font-size: 18px !important
    }
}

.y3498 p {
    text-align: center;
    font-size: 28px;
    line-height: 25px;
    font-weight: 700;
    width: 90%;
    display: block;
    margin: auto
}

.n1543 p {
    margin: 0;
    font-size: 24px
}

.minute::after,
.second::after {
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    display: block;
    width: 100%;
    color: #fff
}

.minute::after {
    content: "РјРёРЅСѓС‚"
}

.second::after {
    content: "СЃРµРєСѓРЅРґ"
}

.p5213 {
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    line-height: 1.471
}


.order-form {
    width: 100%;
    padding: 24px;
    border: 1px solid #242124;
    text-align: center;
    box-sizing: border-box
}

.order-form__price {
    display: inline-block;
    margin: 0 8px 16px
}

.order-form__price:first-of-type {
    text-decoration: line-through
}

.order-form__price:last-of-type {
    font-weight: bold
}

.order-form__label {
    display: block;
    margin: 0 auto 8px
}

.order-form__text {
    display: block;
    margin: 0 auto 16px;
    border-radius: calc(8px / 2);
    border: 1px solid #242124;
    padding: 0 16px;
    width: 220px;
    box-sizing: border-box;
    height: 36px;
    font-size: 16px
}

.order-form__button {
    cursor: pointer;
    margin: calc(8px / 2) auto 16px;
    border-radius: calc(8px / 2);
    background-color: green;
    color: #fff;
    border: 0;
    padding: 8px 16px
}

.order-form__caption {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0
}

#ifr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.order-form__price:first-of-type {
    text-decoration: none
}

.comhead {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end
}

select {
    appearance: none;
}

footer {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    color: #000;
}

footer a {
    text-decoration: none;
    color: #000;
}